body {
  font-family: 'Inter', Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4; /* Couleur de fond plus claire */
  color: #333333; /* Couleur de texte sombre */
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #ffffff; /* Fond blanc pour le contenu */
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.table-container {
  background-color: #f9f9f9; /* Couleur de fond légèrement plus claire */
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table th, .table td {
  padding: 10px;
  border: 1px solid #cccccc; /* Couleur de bordure plus claire */
  text-align: center;
}

h1 {
  font-size: 28px; /* Titre plus grand */
  margin-bottom: 20px;
}

/* Style pour les boutons Bootstrap */
.btn {
  display: inline-block;
  padding: 10px 20px;
  margin-right: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #FFD700;
  color: #333333;
  font-weight: bold;
  transition: background-color 0.3s, color 0.3s;
}

.btn:hover {
  background-color: #333333;
  color: #FFD700;
}
