<app-navbarutilisateur></app-navbarutilisateur>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<body>
    <header>
        <h1>Tableau de Bord Admin</h1>
    </header>
    <h1>welcome to argania admin dashboard</h1> 
    <body>
        <div class="dashboard">
            <div class="kpi">
                <div class="kpi-item">
                    <span class="kpi-label">Nombre d'utilisateurs :</span>
                    <span class="kpi-value">1500</span>
                </div>
                <div class="kpi-item">
                    <span class="kpi-label">Demandes de gratuité :</span>
                    <span class="kpi-value">300</span>
                </div>
                <div class="kpi-item">
                    <span class="kpi-label">Nombre de marques :</span>
                    <span class="kpi-value">50</span>
                </div>
                <div class="kpi-item">
                    <span class="kpi-label">Nombre de produits :</span>
                    <span class="kpi-value">200</span>
                </div>
                <div class="kpi-item">
                    <span class="kpi-label">Demandes accordées :</span>
                    <span class="kpi-value">100</span>
                </div>
                <div class="kpi-item">
                    <span class="kpi-label">Demandes refusées :</span>
                    <span class="kpi-value">50</span>
                </div>
                <div class="kpi-item">
                    <span class="kpi-label">Taux d'acceptation :</span>
                    <span class="kpi-value">66.67%</span>
                </div>
                <div class="kpi-item">
                    <span class="kpi-label">Montant de gratuités accordé :</span>
                    <span class="kpi-value">15,000 dt</span>
                </div>
            </div>
        </div>
    </body>
    
    

</body>