<app-navbarresponsable></app-navbarresponsable>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<p>welcome dashboard responsable !</p>


<body>
    <div class="dashboard">
        <div class="kpi">
            <div class="kpi-item">
                <span class="kpi-label">Demandes au total :</span>
                <span class="kpi-value">50</span>
            </div>
            <div class="kpi-item">
                <span class="kpi-label">Demandes traitées :</span>
                <span class="kpi-value">30</span>
            </div>
            <div class="kpi-item">
                <span class="kpi-label">Demandes à traiter :</span>
                <span class="kpi-value">20</span>
            </div>
            <div class="kpi-item">
                <span class="kpi-label">Demandes acceptées :</span>
                <span class="kpi-value">25</span>
            </div>
            <div class="kpi-item">
                <span class="kpi-label">Demandes refusées :</span>
                <span class="kpi-value">5</span>
            </div>
            <div class="kpi-item">
                <span class="kpi-label">Montant total accordé :</span>
                <span class="kpi-value">7,500 dt</span>
            </div>
        </div>
    </div>


</body>