<app-navbardemandeur></app-navbardemandeur>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">


<p> welcome to dashboard demandeur !</p>


<body>
    <div class="dashboard">
        <div class="kpi">
            <div class="kpi-item">
                <span class="kpi-label">Nombre de demandes :</span>
                <span class="kpi-value">15</span>
            </div>
            <div class="kpi-item">
                <span class="kpi-label">Demandes en attente :</span>
                <span class="kpi-value">5</span>
            </div>
            <div class="kpi-item">
                <span class="kpi-label">Demandes acceptées :</span>
                <span class="kpi-value">8</span>
            </div>
            <div class="kpi-item">
                <span class="kpi-label">Demandes refusées :</span>
                <span class="kpi-value">2</span>
            </div>
            <div class="kpi-item">
                <span class="kpi-label">Taux d'acceptation :</span>
                <span class="kpi-value">53.33%</span>
            </div>
        </div>
    </div>
</body>
