<app-navbardemandeur></app-navbardemandeur>
<h1>Tableau des demandes de gratuités</h1>
<table>
    <thead>
      <tr>
        
        <th>Destinataire</th>
        <th>Produit</th>
        <th>Date de la Demande</th>
        <th>Etat de la demande</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let demande of demandesTab">
        
        <td>{{ demande.destinataire }}</td>
        <td>{{ demande.description_demande }}</td>
        <td>{{ demande.date_demande.slice(0,-9) }}</td>
        <td>{{ demande.etat_demande }}</td>
        <td>
          <button >Retirer Demande</button>
        </td>
      </tr>
    </tbody>
  </table>
  
